fastapi
uvicorn
sqlalchemy
pymysql
python-jose
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-multipart
pydantic
pydantic-settings
redis
hiredis
alembic
python-dotenv
slowapi
email-validator
httpx
jinja2